*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#FFA07A;
}

form{
    background-color: white;
    padding: 60px 30px;
    border-radius: 10px;
    box-shadow: 0.2px 0.2px 6px black;
}

form h2{
    text-align: center;
    user-select: none;
    text-shadow: 0.2px 0.2px 0.2px black;
}

.input-group{
    margin: 20px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-group input{
    border: none;
    outline: none;
    border-bottom: 1px solid dodgerblue;
    padding: 4px 0px;
    width: 100%;
}

.input-group label{
    position: absolute;
    left: 0px;
    top: 3px;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.2s;
    color: gray;
}

.input-group input:focus + label{
    top: -14px;
    font-size: 13px;
    color: dodgerblue;
}

.input-group input:valid + label{
    top: -14px;
    font-size: 13px;
    color: dodgerblue;
}

form button{
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    width: 100%;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    margin: 10px 0px;
}

form p{
    user-select: none;
    font-size: 14px;
    margin-top: 10px;
}

form p a{
    color: blue;
    text-decoration: none;
}